
:root{
    --gia-cu: #afafaf;
    --gia-moi: #22ab1b;
}
body {
    background-color: #f5f5f5;
}

.main-body1 {
    display: flex;
    width: 75%;
    justify-self: center;
}

.thongtin {
    width: 55%;
}

.cot-tt {
    width: 45%;
}

.box {
    box-sizing: border-box;
    background-color: white;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    height: fit-content;
    width: 100%;
    position: relative;
    padding: 0 27px 0 27px;
    margin: 50px 0 0 0;
}

.tieude1 {
    font-size: 20px;
    font-weight: 400;
    margin: 27px 0 0 0;
}


.thanhtientrinh {
    box-sizing: border-box;
    background-color: var(--main-color);
    width: 100vw;
    height: 8vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

.vongtron {
    background-color: white;
    border-radius: 50%;
    border-color: #d7d7d7;
    border-width: 1px;
    width: 18px;
    height: 18px;
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.nd {
    color: white;
}

.gr1 {
    justify-items: center;
    align-items: center;
}

.chu-y {
    color: #FF0000;
    font-size: 16px;
    margin: 5px 0;
}

.bang-dien {
    list-style: none;
    margin: 26px 0 0 0;
    padding: 0;
}

.sao,
.tit {
    font-size: var(--normal-size);
    font-weight: 400;
    position: relative;
    text-align: left;
    align-items: center;
    justify-content: flex-start;

}

.sao {
    color: #FF0000;
}

input.o-trong {
    box-sizing: border-box;
    border-radius: 13px;
    border-style: solid;
    border-color: rgb(173, 173, 173);
    font-size: 20px;
    width: 100%;
    height: 57px;
    border-width: 1px;
    margin: 11px 0 39px;
    padding: 15px
}

input.o-trong:focus {
    outline: none;
    border-color: #000;
    font-size: 20px;
    padding: 15px;
}

.dientt {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-items: end;
    gap: 24px;
    list-style: none;
    margin: 0 auto 0;
    padding: 0;
    width: 95%;
}

.line {
    border-style: solid;
    border-width: 1px 0 0 0;
    justify-content: center;
}

.note {
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.namnu {
    box-sizing: border-box;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    margin: 11px 0 39px;
}

.namnu label {
    align-items: center;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    gap: 5px;
}

.ttchung {
    margin: 27px 0 0 0;
    display: flex;
    gap: 16px;
}

.gia {
    box-sizing: border-box;
    background-color: white;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    height: fit-content;
    width: 100%;
    position: relative;
    padding: 0 27px 0 27px;
    margin: 50px 0 0 0;
}

.main-body1 {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.tieude2 {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
}

.text {
    font-size: 16px;
}

.date {
    display: flex;
    gap: 50px;
}

.ttchuyendi {
    margin: 40px 0 40px 0;
}

.ttchuyendi .text {
    margin-bottom: 40px;
}

.chiphi .text {
    color: rgba(0, 0, 0, 0.61);
}

.nglon,
.tre,
.tong {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0 15px 0;
}

.chiphi {
    row-gap: 25px;
}

.gia-tre-em {
    display: grid;
    justify-content: space-between;
    align-items: center;
    text-align: right;
}

.gia-tre-em .text {
    margin-bottom: 10px;
}

.tre {
    margin: 30px 0 15px 0;
}

.nut-thanh-toan {
    box-sizing: border-box;
    background-color: var(--main-color);
    border-radius: 13px;
    height: fit-content;
    width: 100%;
    margin: 50px 0 0 0;
    justify-items: center;
}

.thanhtoan {
    font-size: 20px;
    color: white;
    padding: 25px 0;
    text-align: center;
}

.anh-tour {
    width: 38%;
    height: auto;
}