.banner1 {
  position: relative; 
  width: 100%;
  height: 80vh;
  background: url(../pics/banner1.png) no-repeat center center/cover;
}

.banner1>img{
    width: 100vw;
    height: auto;
}

.banner1 h1{
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.rectangle{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 310px;
    background-color: rgba(135, 206, 235, 0.5);
    border-radius: 60px;
}
.banner-infors{
    display: flex;
    flex-direction: row;
    color: #FFF;
    justify-content: center;
    gap: 60px;
}
.banner-infors div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 20px;
}

.banner-infors p{
    margin: 2px 0;
}

.banner-infors b{
    margin: 10px 0;
    font-size: 20px;
}

/* Nhập điểm xuất phát và điểm đến */
.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 22px 22px 22px 22px;
  padding: 8px;
  height: 40px;
  width: 1050px;
}

.search-box .airplane-icon {
  height: 56px;
  position: relative;
  left: 25px;
}

.search-box .search-icon {
  width: max-content;
  object-fit: contain;
  margin-right: 12px;
}

.search-box input {
  border: none;
  outline: none;
  width: 100%;
  padding: 16px;
  font-size: 20px;
  background: transparent;
}

.search-box .arrival-input {
  position: relative;
  left: 25px;
}

/*-- Nhập thời gian đi và về --*/
.date-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.date-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
}

.departure-date-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 22px 22px 22px 22px;
    padding: 8px;
    height: 40px;
    width: 500px;
    margin-right: 20px;
}

.return-date-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 22px 22px 22px 22px;
    padding: 8px;
    height: 40px;
    width: 500px;
}

.date-section input {
  border: none;
  outline: none;
  width: 100%;
  padding: 16px;
  font-size: 20px;
  background: transparent;
}

.calendar-icon {
  margin: 15px;
}

/* banner quang cao */
.banner2{
    width: 80%;
    height: auto;
    
}

.banner-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 155px;
}

.quangcao1{
    width: 100%;
    height: auto;
}

.image-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;          /* khoảng cách giữa các khung */
  margin-left: 155px;
  margin-bottom: 60px;
}

.image-box {
  overflow: hidden;
  height: 200px;
  width: 500px;
  position: relative;
  flex-shrink: 0;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;  /* crop ảnh giữ tỉ lệ đẹp */
  display: block;
  transition: transform 0.3s ease;
}

/* hiệu ứng hover nhẹ */
.image-box:hover img {
  transform: scale(1.05);
}

/* Popular tours section */
.popular-tours-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.popular-tours-section h2{
    font-size: 22px;
}

/* Lý do nên chọn travelulu */
.reason-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.reason-section h2{
    font-size: 22px;
}
.reason-box{
    width: 1224px;
    height: 135px;
    border-radius: 26px 26px 26px 26px;
    border: 1px solid rgba(217, 217, 217, 0.50);
    box-shadow: 4px 4px 6.1px 0 rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: row;
    justify-content: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
}

.reason-icon {
  height: 135px;
  margin-left: auto;
}

.reason-text{
  padding-left: 24px;
}

.reason-text h3{
  font-size: 20px;
  margin: 0;
}

.reason-text p{
  font-size: 16px;
  margin: 6px 0;
}
