.login-section {
    position: relative;
    width: 100%;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg-login{
    position: absolute;
    width: 100%;
    height: 650px;
    object-fit: cover;
    z-index: -1;
}
.login-box {
    height: 420px;
    width: 900px;
    transform: translate(0%, -5%);
    background: rgba(255, 255, 255, 0.3);
    padding: 40px;
    border-radius: 50px;
    text-align: center;
}
.login-box h2 {
    font-size: 40px;
    margin-top: -10px;
    margin-bottom: 10px;
    color: #ffffff;
}
.login-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-box label {
    font-size: 18px;
    width: 53%;
    text-align: left;
    margin: 10px 0 5px;
    color: #ffffff;
}

.login-box input {
    font-size: 18px;
    width: 50%;
    padding: 12px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
display: none;
}

.password-field {
    position: relative;
    width: 53%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.password-field input {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

.password-field i {
    position: absolute;
    right: 10px;
    top: 25%;
    color: #888;
    cursor: pointer;
    font-size: 18px;
}

.password-field i:hover {
    color: #000;
}
.forgot {
    display: inline-block;
    width: auto;
    color: #E0E0E0;
    margin-bottom: 20px;
    cursor: pointer;
    transform: translate(170%, 0%);
}

.forgot:hover {
    color: #ffffff;
    text-decoration: underline;
}
.login-cont {
    width: 53%;
    background-color: #34699A;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px 0;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 4px 3px rgba(255, 255, 255, 0.2);
}
.login-cont:hover {
    background-color: #407eb8;
    transform: translateY(-2px);
}
.login-or {
    margin: 20px 0;
    font-size: 18px;
    color: #E0E0E0;
}
.login-fb {
    background-color: #1877F2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.login-fb:hover {
    background-color: #1665cd;
    transform: translateY(-2px);
}
.login-fb i {
    font-size: 22px;
    vertical-align: middle;
    margin-right: 10px;
}
.signup-text {
    font-size: 20px;
    margin-top: 30px;
    color: #b4b4b4;
}

.signup-text a {
    color: #E0E0E0;
    text-decoration: underline;
}
.signup-text a:hover {
    color: #ffffff;
}
.note{
    font-size: 25px;
    color: #ffffff;
    margin-top: 70px;
}
.outro-section {
    margin-top: 10px;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-size: 16px;
    color: #939393;
    width: 35%;
}
.input-error {
    border: 3px solid #E96767 !important;
}

.error-message {
    position: absolute;
    bottom: 45%;
    color: #FF9A9A;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: left;
    width: 48%;
}
.password-field {
    position: relative;
    display: flex;
    align-items: center;
}

.password-field input {
    flex: 1;
}

.password-field .error-message {
    position: absolute;
    bottom: -22px;
    left: 0;
    width: 100%;
}
