:root{
    --main-color: #34699A;
    --normal-size: 18px;
    --main-nav-size: 15px;
    --main-h1: 20px;
    --main-h2: 18px;
    --main-note: 21px;
    --main-subnote: 10px;
    --font-family: "League Spartan";
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: #ffffff;
    border-bottom: 1px solid #f7f5f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 10px; */
    z-index: 1000; 
}
.menu-nav li{
    font-family: var(--font-family);
    font-style: none;
    font-weight: 500;
    line-height: normal;
}
.avt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 20px; */
    cursor: pointer;
}
.avt-wrapper{
    position: relative;   
    display: inline-block;  
}
.avt-img{
    width: 180px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
    border-radius: 100px;
}
.avt span{
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 800;
    margin-top: 5px;
    /* padding-bottom: 20px;
    border-bottom: 1px solid #bcbcbc; */
}
.avt::after{
    content: "";
    display: block;
    width: 80%;
    border-bottom: 1px solid #ccc;
    margin-top: 20px;
}
.change-avt{
    position: absolute;        
    background: #f0f0f0;
    border-radius: 100%;
    font-size: 12px;
    padding: 8px;
    border: none;
    cursor: pointer;
    bottom: 5px;
    right: 15px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.15);
}
.change-avt:hover{
    background: #34699A;
}
.main-body {
    margin-top: 100px;
    padding: 30px;
}

#nav-bar{
    width: 380px;
    background: #ffffff;
    padding: 20px 5px 10px 5px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}
.left-nav{
    display: flex;
    align-items: left;
}
.nav-item{
    margin-left: 0 90px 0 90px;
    padding: 15px 80px;
    cursor: pointer;

}
.nav-item i{
    font-size: 20px;
    color: #000000;
    margin: 0px 20px 0px 10px;
}
.nav-item span{
    font-size: var(--main-nav-size);
    font-family: var(--font-family);
    font-weight: 200;
    
}
.nav-item:hover {
    background: #34699A;
    i{
        color: #ffffff;
    }
    span{
        color: #ffffff;
    }
}
