.signup-section {
    position: relative;
    width: 100%;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg-signup{
    position: absolute;
    width: 100%;
    height: 750px;
    object-fit: cover;
    z-index: -1;
}
.signup-box {
    height: 585px;
    width: 900px;
    transform: translate(0%, 4%);
    background: rgba(255, 255, 255, 0.3);
    padding: 40px;
    border-radius: 50px;
    text-align: center;
}
.back-arrow {
    position: absolute;
    left: 50px;
    color: #b4b4b4;
    font-size: 40px;
}
.back-arrow:hover {
  color: #ffffff;
  transform: translateX(-2px);
}
.signup-box h2 {
    font-size: 40px;
    margin-top: -10px;
    margin-bottom: 0px;
    color: #ffffff;
}
.signup-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signup-box label {
    font-size: 18px;
    width: 53%;
    text-align: left;
    margin: 10px 0 5px;
    color: #ffffff;
}

.signup-box input {
    font-size: 18px;
    width: 50%;
    padding: 12px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}
.password-field {
    position: relative;
    width: 53%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.password-field input {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}
.password-field i {
    position: absolute;
    right: 10px;
    top: 25%;
    color: #888;
    cursor: pointer;
    font-size: 18px;
}
.password-field i:hover {
    color: #000;
}
.signup-cont {
    width: 53%;
    background-color: #34699A;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px 0;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 4px 3px rgba(255, 255, 255, 0.2);
}
.signup-cont:hover {
    background-color: #407eb8;
    transform: translateY(-2px);
}
.signup-or {
    margin: 20px 0;
    font-size: 18px;
    color: #E0E0E0;
}
.signup-fb {
    background-color: #1877F2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.signup-fb:hover {
    background-color: #1665cd;
    transform: translateY(-2px);
}
.signup-fb i {
    font-size: 22px;
    vertical-align: middle;
    margin-right: 10px;
}
.outro-section {
    margin: 0 auto;
    text-align: center;
    padding-top: 80px;
    font-size: 18px;
    color: #939393;
    width: 35%;
}
.input-error {
    border: 3px solid #E96767 !important;
}
.error-message {
  position: absolute;
  top: -18px;
  color: #FF9A9A;
  font-size: 14px;
  text-align: right;
  width: 100%;
}
.input-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-wrapper .error-message {
    width: 53%;
}
.password-field {
    position: relative;
    display: flex;
    align-items: center;
}
.password-field input {
    flex: 1;
}
.password-field .error-message {
    position: absolute;
    bottom: 60px;
    width: 100%;
}
.popup {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup-content {
    background: linear-gradient(to bottom, #34699A 70px, #fff 60px);
    width: 525px;
    max-width: 80%;
    height: 250px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    transform: translateY(-50px);
}

.popup-content h2 {
    transform: translateY(-10px);
    font-size: 36px;
    color: #ffffff;
}
.popup-content p {
    transform: translateY(10px);
    font-size: 22px;
    color: #747474;
    margin-bottom: 20px;
    line-height: 1.2;
    font-weight: normal;
}

.popup-content button {
    transform: translateY(20px);
    box-shadow: 0px 4px 5px rgba(0,0,0,0.3);
    font-size: 16px;
    width: 450px;
    background: #34699A;
    color: white;
    border: none;
    padding: 10px 0px;
    border-radius: 5px;
    cursor: pointer;
}
.popup-content button:hover {
    background-color: #407eb8;
}
