:root {
    --main-color: #34699A;
    --gia-cu: #afafaf;
    --gia-moi: #22ab1b;
    --normal-size: 20px;
    --hover-blue-color: rgba(52, 105, 154, 0.10);
}

* {
    font-family: "League Spartan";
}

li {
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    /* bo gach chan */
}

.header {
    display: flex;
    flex-direction: row;
    position: static;
    top: 0;
    height: 10vh;
    width: 100vw;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    background-color: white;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px; */
}

.menu-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    list-style: none;
    flex-wrap: nowrap;
    margin: 0;
}

.menu-nav li>a {
    padding: 10vh 50px;
    text-wrap: nowrap;
    color: var(--main-color);
    text-align: center;
    font-size: var(--normal-size);

    &:hover {
        transition: background-color ease-in-out 0.5s;
        background-color: var(--hover-blue-color);
    }
}

.logo-img {
    margin: 10px;
    width: 235px;
    height: fit-content;
}
