
:root {
    --main-color: #34699A;
    --grey-color: grey;
    --normal-size: 20px;
    --under-sub-note: 15px;
    --hover-blue-color:rgba(52, 105, 154, 0.10);
}
body{
    margin: 0;
}

p,li{
font-style: normal;
font-weight: 500;
}
body{
    overflow-x:hidden;
}
body::-webkit-scrollbar{
    display: none;
}
*{
    font-family: "League Spartan";
    line-height: normal;
}

li {
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

body {
    margin: 0;
}



li {
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}


.header {
    display: flex;
    flex-direction: row;
    position:fixed;
    position:fixed;
    top: 0;
    height: 55px;
    width: 100vw;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    background-color: white;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px; */
}
.header-buffer{
    height: 55px;
    width: 100vw;
    position: static;
}
.header-buffer{
    height: 55px;
    width: 100vw;
    position: static;
}
.menu-nav{
display: flex;
justify-content: space-between;
align-items: flex-start;
flex-shrink: 0;
list-style: none;
flex-wrap: nowrap;
margin: 0;
}


.menu-nav li>a {
    padding: 3vh 50px;
    text-wrap: nowrap;
    color: var(--main-color);
    text-align: center;
    font-size: var(--normal-size);

    &:hover {
        transition: background-color ease-in-out 0.5s;
        background-color: var(--hover-blue-color);
    }
}
.logo-img{
    margin: 10px 20px;
    margin: 10px 20px;
    width: 238px;
    height: fit-content;
}
.footer{
    box-sizing: border-box;
    z-index: 100;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding-bottom: 50px;
    background: url(../pics/footerBG.png) lightgray 50% / cover no-repeat;
}
.bank-group{
  display: grid;
  grid-template-columns: repeat(3,0fr);
  gap: 10px;
}
.bank-group img{
    width: 100px;
}
.footer>div>div{
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    margin: 50px 10vw;
}
.footer>div{
    z-index: 100;
    display: flex;
    flex-direction: row;
}
.footer b,.footer p{
    z-index: 100;
    margin: 10px;
    color: white;
    font-size: 24px;
    font-weight: 600;
}
.footer p{
    font-weight: 200;
}
.footer-mask{
    margin: 0;
    position: absolute;
    height: 65%;
    padding: 50px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, rgba(92, 92, 92, 0.29) 38.3%, rgba(0, 0, 0, 0.32) 68.35%);
}
/* .footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2); 
} */
/* Phần này con chat box fix pos */
.chatbot-button {
  cursor: pointer;
   /* // transform: translateX(-50%); */
    width: 100px;
    height: 100px;
    position: relative;
    top:-25px;
    transition: all 0.3s ease;
&:hover {
    width: 120px;
    height: 120px;
    transition: all 0.3s ease;

  }
}
.bubble-box{
  text-decoration: none;
    z-index: 1000;
     display: flex;
    position: fixed;
    right: 2%;
    bottom: 170px;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 ;
    width: 130px;
    transition: all 0.3s ease;
&:hover {
    width: 150px;
    transition: all 0.3s ease;
  }
}
.bubble-box>p{
  color: black;
  font-size: 12px;
  margin :0; 
  padding: 5px; 
  background-color: aliceblue; 
  border-radius: 10px;
}
@keyframes shake {
  0%  { transform:  rotate(-10deg); }
50%  { transform: rotate(0deg); }
  100%  { transform:   rotate(-10deg); }
}
/* apply animation */
.shake {
  animation: shake 1s ease-in-out infinite;
}

/* Thay icon input date mặc định */
input[type="date"]::-webkit-calendar-picker-indicator {
  position: relative;
  left: 170%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: url("../pics/calender-icon.png") no-repeat center;
background-size: contain;
}
input[type="text"]{
    background-color: none;
}