body {
      margin: 0;
      font-family: Arial, sans-serif;
    }
    /* ===== HEADER ===== */
    header {
        display: flex;               /* dùng flex để chia 2 bên */
        justify-content: space-between; /* logo trái - menu phải */
        align-items: center;         /* căn giữa theo chiều dọc */
        padding: 15px 130px;          /* khoảng cách 2 bên */
        background: white;           /* nền trắng */
    }

    /* Logo */
    .logo {
        font-family: Titan One;
        font-size: 30px;
        color: #34699A;
    }

    /* Menu */
    nav ul {
      list-style: none;   /* bỏ dấu chấm */
      display: flex;      /* các mục ngang */
      gap: 60px;          /* khoảng cách giữa các mục */
      margin: 0;
      padding: 0;
    }

    nav a {
      text-decoration: none; /* bỏ gạch chân */
      color: #34699A;        /* màu chữ */
      font-family: 'League Spartan', sans-serif;
      font-size: 18px;
      padding: 16px 24px; 
      display: inline-block;
    }

    nav a.active {
      font-weight: bold;
      background: #e6edf7;  /* nền nhạt khi chọn */
    }