.main-body{
    display: flex;
    flex-direction: row;
    position: relative;
}
.personal-nav-site{
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: fit-content;
}
.personal-img{
border-radius: 223px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}